$color-black: #444444;
$color-grey: #aaaaaa;
$color-white: #ffffff;
$color-blue-dark: #4466bb;
$color-blue-medium: #4466dd;
$color-blue-light: #4466ff;
$color-red: #dd4466;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 420px;
$breakpoint-laptop: 600px;
