@import "../../styles/variables";

.document {
  box-sizing: border-box;
  margin: 0;

  font-family: "Quicksand", sans-serif;
  color: $color-black;

  &__app {
    margin-right: auto;
    margin-left: auto;
    min-width: 320px;
    max-width: 800px;
  }
}
